.volunteer {padding-bottom: 5px;}
.panel-body.volunteer-container {padding-top: 0;}
.volunteer-header {margin-bottom: 10px;}
/*.reviewAuthor {margin: 0 5px;}*/
/*.reviewTimestamp {color: #ccc;}*/
iframe {
    width: 100%;
    min-height: 300px;
}
.titleRow{
    padding-top: 20px;

}

div.volUpdContainer{
    width:350px;
    padding-left: 50px;
}


label,input {
    width: 150px;
    display: inline-block;

}
.savebutton{
    width: 70px;
    border-radius: 10px;
    border-width: 5px;
}