.volunteer {padding-bottom: 5px;}
.panel-body.volunteer-container {padding-top: 0;}
.volunteer-header {margin-bottom: 10px;}
/*.reviewAuthor {margin: 0 5px;}*/
/*.reviewTimestamp {color: #ccc;}*/
iframe {
    width: 100%;
    min-height: 300px;
}
.titleRow{
    padding-top: 20px;

}

div.volUpdContainer{
    width:350px;
    padding-left: 50px;
}


label,input {
    width: 150px;
    display: inline-block;

}
.savebutton{
    margin-top: 30px;
    width: 70px;
    border-width: 0.3px;
    border: black;
    border-style: solid;

}
form{
    padding: 40px 10px 5px;
    background-color: #3aad2f;

;
}
.btn-default{
    margin: 2px;
    border-width: 0.3px;
    border: black;
    border-style: solid;
}
.nolocations{
    color: #ffffff;
    font-size: 15pt;
}
.copyright{
    margin-top: 40px;
}